<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :validate => true) do |f| %>
<div class="row">
  <div class="span12">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class="span4">
    <%= image_tag(current_user.avatar_url) %>
    <%= f.input :avatar, :label => "upload profile picture", :hint => "only jpg, jpeg, and png allowed<br/>maximum size 1 MB", :size => "10px" %>
  </div>
  <div class="span8">
  <%= f.error_notification %>
    <div class="row">
      <div class="span4">
        <h4>Information</h4>
        <%= f.input :email, :autofocus => true %>
        <%= f.input :username %>
        <%= f.input :firstname %>
        <%= f.input :lastname %>
        <%= f.input :birthday, :as => :string, :input_html => {:class => "datepicker"} %>
        <h4>password confirmation</h4>
        <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
      </div>
      <div class="span4">
        <h4>change password</h4>
        <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
        <%= f.input :password_confirmation, :required => false %>
        <h4>confirmation identity</h4>
        <%= f.input :identity_image, :hint => "upload your cardID to verifid your identity" %>
      </div>
    </div>
    <%= f.button :submit, "Update", :class => "btn btn-primary" %><%= link_to "back", :back, :class => "btn btn-danger back-btn" %>
<% end %>
  </div>
</div>
