<div class="container">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
		<h2 class="form-signin-heading">Login here </h2>
    <%= f.input :email,:label => false,:placeholder => "email Address", :required => false, :autofocus => true, :input_html => {:class => "input-block-level"} %>
    <%= f.input :password,:label => false,:placeholder => "password", :required => false, :input_html => {:class => "input-block-level"} %>
    <%= f.input :remember_me,:label => false, inline_label: 'Remember me', :as => :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, "Sign in",:class => "btn btn-primary btn-large" %>
		<div>
			<%= render "devise/shared/links" %>
		</div>
<% end %>
</div>