<%= render :partial => "shared/google_maps_init" %>
<%= render :partial => "shared/maps", :locals => {:location => @location }%>
<div class="row">
    <div class="span4">
        <%= simple_nested_form_for @location, :validate => true do |f| %>
          <% @location.build_contacts unless @location.contacts %>
          <%= f.error_notification %>
            <%= f.input :name %>
            <%= f.input :address, :input_html => {:class => "address"} %>
            <%= f.input :latitude, :input_html => {:class => "latitude"} %>
            <%= f.input :longitude, :input_html => {:class => "longitude"} %>
            <%= f.input :home_avatar %>
            <%= f.input :verification,:hint => "upload your image location<br/>jpg, jpeg and png only" %>
            <h4>add contact number</h4>
            <%= f.simple_fields_for :contacts, :validate => true %>
            <%= f.link_to_add "Add Contact", :contacts %>
            <br/>
            <br/>
    </div>
    <div class="span8">
        <div id="maps"></div>
    </div>
</div><!-- row -->
<div class="row">
    <div class="span12">
        <%= f.button :submit, "create", :class => "btn btn-primary" %><%= link_to "back", :back, :class => "btn btn-danger back-btn" %>
    </div>
</div><!-- row -->
        <% end %>
